<ion-content [fullscreen]="true" force-overscroll="false">
  <section class="hero">
    <picture>
      <source media="(max-width: 640px)" srcset="assets/beyond-horizon-standalone-hero-1080x1920.png">
      <img class="hero-img" src="assets/beyond-horizon-standalone-hero-1920x1080.png" alt="Beyond Horizon" />
    </picture>

    <!-- <div class="overlay">
      <ion-button size="large" fill="solid" routerLink="/wishlist">Wishlist</ion-button>
      <ion-button size="large" fill="outline" routerLink="/learn">Learn More</ion-button>
    </div> -->
  </section>
</ion-content>
